* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*小屏的时候*/
.container {
  width: 600px;
  margin: auto;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  clear: both;
}
.container-fluid {
  width: 100%;
  margin: auto;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  clear: both;
}
/*最小屏*/
.container > .row > .col-s-1 {
  float: left;
  width: 2.77777778%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 2.77777778%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 5.55555556%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 5.55555556%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 11.11111111%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 11.11111111%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 13.88888889%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 13.88888889%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 19.44444444%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 19.44444444%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 22.22222222%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 22.22222222%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 27.77777778%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 27.77777778%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 30.55555556%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 30.55555556%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-s-13 {
  float: left;
  width: 36.11111111%;
}
.container-fluid > .row > .col-s-13 {
  float: left;
  width: 36.11111111%;
}
.container > .row > .col-s-14 {
  float: left;
  width: 38.88888889%;
}
.container-fluid > .row > .col-s-14 {
  float: left;
  width: 38.88888889%;
}
.container > .row > .col-s-15 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-15 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-s-16 {
  float: left;
  width: 44.44444444%;
}
.container-fluid > .row > .col-s-16 {
  float: left;
  width: 44.44444444%;
}
.container > .row > .col-s-17 {
  float: left;
  width: 47.22222222%;
}
.container-fluid > .row > .col-s-17 {
  float: left;
  width: 47.22222222%;
}
.container > .row > .col-s-18 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-18 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-19 {
  float: left;
  width: 52.77777778%;
}
.container-fluid > .row > .col-s-19 {
  float: left;
  width: 52.77777778%;
}
.container > .row > .col-s-20 {
  float: left;
  width: 55.55555556%;
}
.container-fluid > .row > .col-s-20 {
  float: left;
  width: 55.55555556%;
}
.container > .row > .col-s-21 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-21 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-s-22 {
  float: left;
  width: 61.11111111%;
}
.container-fluid > .row > .col-s-22 {
  float: left;
  width: 61.11111111%;
}
.container > .row > .col-s-23 {
  float: left;
  width: 63.88888889%;
}
.container-fluid > .row > .col-s-23 {
  float: left;
  width: 63.88888889%;
}
.container > .row > .col-s-24 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-24 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-s-25 {
  float: left;
  width: 69.44444444%;
}
.container-fluid > .row > .col-s-25 {
  float: left;
  width: 69.44444444%;
}
.container > .row > .col-s-26 {
  float: left;
  width: 72.22222222%;
}
.container-fluid > .row > .col-s-26 {
  float: left;
  width: 72.22222222%;
}
.container > .row > .col-s-27 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-27 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-28 {
  float: left;
  width: 77.77777778%;
}
.container-fluid > .row > .col-s-28 {
  float: left;
  width: 77.77777778%;
}
.container > .row > .col-s-29 {
  float: left;
  width: 80.55555556%;
}
.container-fluid > .row > .col-s-29 {
  float: left;
  width: 80.55555556%;
}
.container > .row > .col-s-30 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-30 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-s-31 {
  float: left;
  width: 86.11111111%;
}
.container-fluid > .row > .col-s-31 {
  float: left;
  width: 86.11111111%;
}
.container > .row > .col-s-32 {
  float: left;
  width: 88.88888889%;
}
.container-fluid > .row > .col-s-32 {
  float: left;
  width: 88.88888889%;
}
.container > .row > .col-s-33 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-33 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-s-34 {
  float: left;
  width: 94.44444444%;
}
.container-fluid > .row > .col-s-34 {
  float: left;
  width: 94.44444444%;
}
.container > .row > .col-s-35 {
  float: left;
  width: 97.22222222%;
}
.container-fluid > .row > .col-s-35 {
  float: left;
  width: 97.22222222%;
}
.container > .row > .col-s-36 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-36 {
  float: left;
  width: 100%;
}
.col-s-hide {
  display: none;
}
/*中屏*/
@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin: auto;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 2.77777778%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 2.77777778%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 5.55555556%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 5.55555556%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 11.11111111%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 11.11111111%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 13.88888889%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 13.88888889%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 19.44444444%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 19.44444444%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 22.22222222%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 22.22222222%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 27.77777778%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 27.77777778%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 30.55555556%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 30.55555556%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-13 {
    float: left;
    width: 36.11111111%;
  }
  .container-fluid > .row > .col-m-13 {
    float: left;
    width: 36.11111111%;
  }
  .container > .row > .col-m-14 {
    float: left;
    width: 38.88888889%;
  }
  .container-fluid > .row > .col-m-14 {
    float: left;
    width: 38.88888889%;
  }
  .container > .row > .col-m-15 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-15 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-16 {
    float: left;
    width: 44.44444444%;
  }
  .container-fluid > .row > .col-m-16 {
    float: left;
    width: 44.44444444%;
  }
  .container > .row > .col-m-17 {
    float: left;
    width: 47.22222222%;
  }
  .container-fluid > .row > .col-m-17 {
    float: left;
    width: 47.22222222%;
  }
  .container > .row > .col-m-18 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-18 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-19 {
    float: left;
    width: 52.77777778%;
  }
  .container-fluid > .row > .col-m-19 {
    float: left;
    width: 52.77777778%;
  }
  .container > .row > .col-m-20 {
    float: left;
    width: 55.55555556%;
  }
  .container-fluid > .row > .col-m-20 {
    float: left;
    width: 55.55555556%;
  }
  .container > .row > .col-m-21 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-21 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-22 {
    float: left;
    width: 61.11111111%;
  }
  .container-fluid > .row > .col-m-22 {
    float: left;
    width: 61.11111111%;
  }
  .container > .row > .col-m-23 {
    float: left;
    width: 63.88888889%;
  }
  .container-fluid > .row > .col-m-23 {
    float: left;
    width: 63.88888889%;
  }
  .container > .row > .col-m-24 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-24 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-25 {
    float: left;
    width: 69.44444444%;
  }
  .container-fluid > .row > .col-m-25 {
    float: left;
    width: 69.44444444%;
  }
  .container > .row > .col-m-26 {
    float: left;
    width: 72.22222222%;
  }
  .container-fluid > .row > .col-m-26 {
    float: left;
    width: 72.22222222%;
  }
  .container > .row > .col-m-27 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-27 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-28 {
    float: left;
    width: 77.77777778%;
  }
  .container-fluid > .row > .col-m-28 {
    float: left;
    width: 77.77777778%;
  }
  .container > .row > .col-m-29 {
    float: left;
    width: 80.55555556%;
  }
  .container-fluid > .row > .col-m-29 {
    float: left;
    width: 80.55555556%;
  }
  .container > .row > .col-m-30 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-30 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-31 {
    float: left;
    width: 86.11111111%;
  }
  .container-fluid > .row > .col-m-31 {
    float: left;
    width: 86.11111111%;
  }
  .container > .row > .col-m-32 {
    float: left;
    width: 88.88888889%;
  }
  .container-fluid > .row > .col-m-32 {
    float: left;
    width: 88.88888889%;
  }
  .container > .row > .col-m-33 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-33 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-34 {
    float: left;
    width: 94.44444444%;
  }
  .container-fluid > .row > .col-m-34 {
    float: left;
    width: 94.44444444%;
  }
  .container > .row > .col-m-35 {
    float: left;
    width: 97.22222222%;
  }
  .container-fluid > .row > .col-m-35 {
    float: left;
    width: 97.22222222%;
  }
  .container > .row > .col-m-36 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-36 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
}
/*大屏*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 2.77777778%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 2.77777778%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 5.55555556%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 5.55555556%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 11.11111111%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 11.11111111%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 13.88888889%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 13.88888889%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 19.44444444%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 19.44444444%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 22.22222222%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 22.22222222%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 27.77777778%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 27.77777778%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 30.55555556%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 30.55555556%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-13 {
    float: left;
    width: 36.11111111%;
  }
  .container-fluid > .row > .col-l-13 {
    float: left;
    width: 36.11111111%;
  }
  .container > .row > .col-l-14 {
    float: left;
    width: 38.88888889%;
  }
  .container-fluid > .row > .col-l-14 {
    float: left;
    width: 38.88888889%;
  }
  .container > .row > .col-l-15 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-15 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-16 {
    float: left;
    width: 44.44444444%;
  }
  .container-fluid > .row > .col-l-16 {
    float: left;
    width: 44.44444444%;
  }
  .container > .row > .col-l-17 {
    float: left;
    width: 47.22222222%;
  }
  .container-fluid > .row > .col-l-17 {
    float: left;
    width: 47.22222222%;
  }
  .container > .row > .col-l-18 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-18 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-19 {
    float: left;
    width: 52.77777778%;
  }
  .container-fluid > .row > .col-l-19 {
    float: left;
    width: 52.77777778%;
  }
  .container > .row > .col-l-20 {
    float: left;
    width: 55.55555556%;
  }
  .container-fluid > .row > .col-l-20 {
    float: left;
    width: 55.55555556%;
  }
  .container > .row > .col-l-21 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-21 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-22 {
    float: left;
    width: 61.11111111%;
  }
  .container-fluid > .row > .col-l-22 {
    float: left;
    width: 61.11111111%;
  }
  .container > .row > .col-l-23 {
    float: left;
    width: 63.88888889%;
  }
  .container-fluid > .row > .col-l-23 {
    float: left;
    width: 63.88888889%;
  }
  .container > .row > .col-l-24 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-24 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-25 {
    float: left;
    width: 69.44444444%;
  }
  .container-fluid > .row > .col-l-25 {
    float: left;
    width: 69.44444444%;
  }
  .container > .row > .col-l-26 {
    float: left;
    width: 72.22222222%;
  }
  .container-fluid > .row > .col-l-26 {
    float: left;
    width: 72.22222222%;
  }
  .container > .row > .col-l-27 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-27 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-28 {
    float: left;
    width: 77.77777778%;
  }
  .container-fluid > .row > .col-l-28 {
    float: left;
    width: 77.77777778%;
  }
  .container > .row > .col-l-29 {
    float: left;
    width: 80.55555556%;
  }
  .container-fluid > .row > .col-l-29 {
    float: left;
    width: 80.55555556%;
  }
  .container > .row > .col-l-30 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-30 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-31 {
    float: left;
    width: 86.11111111%;
  }
  .container-fluid > .row > .col-l-31 {
    float: left;
    width: 86.11111111%;
  }
  .container > .row > .col-l-32 {
    float: left;
    width: 88.88888889%;
  }
  .container-fluid > .row > .col-l-32 {
    float: left;
    width: 88.88888889%;
  }
  .container > .row > .col-l-33 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-33 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-34 {
    float: left;
    width: 94.44444444%;
  }
  .container-fluid > .row > .col-l-34 {
    float: left;
    width: 94.44444444%;
  }
  .container > .row > .col-l-35 {
    float: left;
    width: 97.22222222%;
  }
  .container-fluid > .row > .col-l-35 {
    float: left;
    width: 97.22222222%;
  }
  .container > .row > .col-l-36 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-36 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
}
/*清除浮动*/
